:root {
    --dark-background-color: #1F2937;
    --button-color: #3882F6;
    --quote-section-background-color: #E5E7EB;
    --call-to-action-background-color: #3882F6;
    --primary-color: white;


}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary-color);
}

.hero-section {

}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-height: 25vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    background-color: white;
}

.card-with-text {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 5px;

}

.card {
    min-width: 110px;
    min-height: 120px;
    border-radius: 10px;
    border: 3px solid;
    border-color: var(--button-color);
}

.card-text {
    color: black;
}

.information-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote-section {
    background-color: var(--quote-section-background-color);
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    min-height: 25vh;
    padding: 12px 20vw 12px 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-section .author {
    text-align: right;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: var(--dark-background-color);
    padding: 8px 160px;
    
}

.header-logo {
    background-color: darkgray;
    border: 1px solid white;
    padding: 8px 14px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    margin-left: auto;

}

.header-links a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hero-section {
    background-color: var(--dark-background-color);   
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    /* column-gap: 35px; */
    min-height: 25vh;
    padding: 12px 20vw 40px 20vw;
}

.hero-section > .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: initial;
    row-gap: 8px;

}

.call-to-action-button {
    background-color: var(--button-color);
    color: var(--primary-color);
    font-weight: 600;
    padding: 12px 24px;
    width: 160px;
    flex-shrink: 1;
    border-radius: 8px;
}

.hero-section > .right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    min-width: 360px;
    min-height: 240px;

}

.hero-section > .right > .hero-image {

}

.call-to-action {
    background-color: white;
    min-height: 15vh;
}

.footer {
    background-color: var(--dark-background-color);
    min-height: 8vh;
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}